In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.Series(['hello', 'world', 15, True])

0    hello
1    world
2       15
3     True
dtype: object

In [4]:
x = pd.Series(['hello', 'world', 15, True])
y = pd.Series([i for i in range(15) if i%2==1])

In [5]:
x,y

(0    hello
 1    world
 2       15
 3     True
 dtype: object, 0     1
 1     3
 2     5
 3     7
 4     9
 5    11
 6    13
 dtype: int64)

In [6]:
y

0     1
1     3
2     5
3     7
4     9
5    11
6    13
dtype: int64

In [7]:
dataframe = pd.DataFrame({
    'x': x,
    'y': y
})
dataframe

       x   y
0  hello   1
1  world   3
2     15   5
3   True   7
4    NaN   9
5    NaN  11
6    NaN  13

In [8]:
dataframe['z'] = pd.Series(['hi', 'hello', 'khana', 'kha', 'ke', 'jana', 'ha'])
dataframe

       x   y      z
0  hello   1     hi
1  world   3  hello
2     15   5  khana
3   True   7    kha
4    NaN   9     ke
5    NaN  11   jana
6    NaN  13     ha

In [9]:
dataframe = pd.DataFrame(
    data = [[0,0,0], [0,1,0], [1,0,0], [1,1,1]]
    columns = ['x1', 'x2', 'y']
)
dataframe

SyntaxError: invalid syntax (<ipython-input-9-77fc2c24f12e>, line 3)

In [10]:
dataframe = pd.DataFrame(
    data = [[0,0,0], [0,1,0], [1,0,0], [1,1,1]],
    columns = ['x1', 'x2', 'y']
)
dataframe

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [11]:
df = pd.DataFrame(
    columns = ['x1', 'x2', 'y'],
    data = [[0,0,0], [0,1,0], [1,0,0], [1,1,1]]
)
df

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [12]:
df = pd.DataFrame([
    {'a': '1', 'b': '1', 'c': 3},
    {'a': '0', 'b': '10', 'c': 5}
])

df

   a   b  c
0  1   1  3
1  0  10  5

In [13]:
df = pd.DataFrame([
    {'a': '1', 'b': '1', 'c': 3},
    {'d': '0', 'b': '10', 'c': 5}
])

df

     a   b  c    d
0    1   1  3  NaN
1  NaN  10  5    0